<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
      </head>
      <body class="flex flex-col min-h-screen bg-[#161a1d] text-white">
    <%# <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource) %> 

    <main>
      <%= yield %>
    </main>

    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
